.gradient-button {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: rgba(66, 66, 66, 0.4);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: auto;
    margin-top: 25%;
    display: block;
}

.gradient-button:before {
    content: '';
    background: linear-gradient(90deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0077, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    filter: blur(7px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 90s linear infinite;
    opacity: 0.3;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.gradient-button:active {
    background: rgba(255, 255, 255, 0);
    transition: 1s ease-in-out;
}

.gradient-button:active:after {
    background: transparent;
}

.gradient-button:hover:before {
    opacity: 1;
}

.gradient-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.795);
    opacity: 0.3;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}